:root {
  --colour: white;
  --secondary-colour: #6b6e70;
  --main-heading: #86c232;
  --secondary-heading: #61892f;
  --outline-colour: #474b4f;
  --background-colour: #222629;
}

body {
  color: var(--colour);
  background-color: var(--background-colour);
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  margin: auto;
}

.link:hover {
  text-decoration: none;
}
